<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is mainly for manual test triggering, e.g. in PhpStorm.
It is not used by the grunt-phpunit runner!
-->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "./vendor/autoload.php" >

    <testsuites>
        <testsuite name="PHPUnit Test Kickstarter">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

</phpunit>
